#my-Photo
{
    border-width: 1vw;
    border-style: dashed;
    border-color: black;
    
    @media (max-width: 767px) {
        width: 40vw;
        border-width: 1vw;
    }
    
    @media (min-width: 768px) {
        width: 15vw;
        border-width: 0.5vw;
    }
}

#my-Name
{
    color: black;
    font-family: 'Share Tech Mono', monospace;

    @media (max-width: 767px) {
        font-size: 5vw;
    }
    
    @media (min-width: 768px) {
        font-size: 2vw;
    }
}


#my-Information
{
    color: black;
    font-family: 'Share Tech Mono', monospace;
    text-align: justify;

    @media (max-width: 767px) {
        font-size: 3vw;
        padding-right: 30px;
        padding-left: 30px;
        padding-top: 20px;
    }
    
    @media (min-width: 768px) {
        font-size: 1.2vw;
        padding-right: 200px;
        padding-left: 200px;
        padding-top: 50px;
    }
}

#my-Learning
{
    display: flex;
    justify-content: center;
    align-items: center;
    
    @media (max-width: 767px) {

        padding-top: 30px;
    }
    
    @media (min-width: 768px) {

        padding-top: 50px;
    }
}

#my-Learning img
{
    @media (max-width: 767px) {
        width: 10vw;
        margin-right: 10vw;
    }
    
    @media (min-width: 768px) {
        width: 5vw;
        margin-right: 10vw;
    }

}

#my-Learning img:last-child
{
    margin-right: 0;
}