body {
    background-image: url("Background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

#btn-inicio img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}