#btn-inicio img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

body
{
    background: linear-gradient(to bottom, orange, yellow);
}

#inicio {
    text-align: center;
}

#copyright {
    color: white;
}

header {
    padding: 20px;
}

footer {
    padding: 20px;
    text-align: center;
}