/*COMUN*/
#btn-inicio img {
    cursor: pointer;

    @media (max-width: 767px) {
        height: 20px;
        width: 20px;
    }
    
    @media (min-width: 768px) {
        height: 40px;
        width: 40px;
    }
}

html {

    background: linear-gradient(to bottom, rgb(70,70,70), rgb(255,255,255));
    background-attachment: fixed;
}

html, body
{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#copyright {
    color: black;
    font-family: 'Share Tech Mono', monospace;

    @media (max-width: 767px) {
        font-size: 2vw;
    }
    
    @media (min-width: 768px) {
        font-size: 0.8vw;
    }
}

header {
    @media (max-width: 767px) {
        padding: 15px;
    }
    
    @media (min-width: 768px) {
        padding: 30px;
    }
}

footer {
    @media (max-width: 767px) {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    
    @media (min-width: 768px) {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}



  
