/*PROYECTOS*/
.selector {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap: 10px;
}

.option {
    color: black;
    font-family: 'Share Tech Mono', monospace;
    font-size: 1vw;
    font-weight: bold;
    text-align: center;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#game-Title {
    font-family: 'Share Tech Mono', monospace;
    font-size: 2.5vw;
}

#game-Photo {
    width: 20vw;
    display: inline-block;
}

#game-Information {
    font-family: 'Share Tech Mono', monospace;
    font-size: 5vw;
    text-align: justify;
    width: 50vw;
    display: inline-block;
    @media (max-width: 767px) {
        font-size: 2vw;
    }
    
    @media (min-width: 768px) {
        font-size: 0.8vw;
    }
}

#game-Video {
    width: 20vw;
}

.information-Container {
    display:  flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}

#information-Container-1:last-child {
    padding-left: 10vw;
}

#information-Container-2:first-child {
    padding-right: 10vw;
}