/*PROYECTOS*/
.selector {
    display: grid;
    @media (max-width: 767px) {
        grid-template-columns: repeat(3,1fr);
    }
    
    @media (min-width: 768px) {
        grid-template-columns: repeat(6,1fr);
    }
    grid-gap: 2vw;
}

.option {
    color: black;
    font-family: 'Share Tech Mono', monospace;
    font-weight: bold;
    text-align: center;
    
    @media (max-width: 767px) {
        font-size: 3vw;
    }
    
    @media (min-width: 768px) {
        font-size: 1.5vw;
    }
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#game-Title {
    font-family: 'Share Tech Mono', monospace;
    font-size: 2.5vw;
}

#game-Photo {
    display: inline-block;
    padding-right: 3vw;
    
    @media (max-width: 767px) {
        width: 60vw;
    }
    
    @media (min-width: 768px) {
        width: 20vw;
    }
}

#game-Information {
    font-family: 'Share Tech Mono', monospace;
    text-align: justify;
    width: 50vw;
    display: inline-block;

    @media (max-width: 767px) {
        font-size: 2vw;
    }
    
    @media (min-width: 768px) {
        font-size: 1.2vw;
    }
}

#game-Videocontainer {
    align-items: center;
    justify-content: center;
}

#game-Video {
    padding-left: 3vw;
    width: 20vw;
    
    @media (max-width: 767px) {
        width: 60vw;
    }
    
    @media (min-width: 768px) {
        width: 20vw;
    }

}

.information-Container {
    
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    display:  flex;

    @media (max-width: 767px) {
        flex-direction: column;
    }
}